<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="">
            <h3>Start Boostrap</h3>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="">
                        Home
                    </a>
                </li>
                <li><a href="">Resume</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>

    </header>



    <main>

        <section id="slide">
            <div style="background-color:red;">
                <ul>
                    <li><span>DESIGN</span></li>
                    <li><span>DEVELOPMENT</span></li>
                    <li><span>MARKETING</span></li>
                </ul>
                <p>Lorem ipsum dolor sit amet</p>
                <h1>Get online and grow fast</h1>

                <a href="">
                    <button>Resume</button>
                </a>
                <a href="">
                    <button>Projects</button>
                </a>
            </div>

            <img src="https://startbootstrap.github.io/startbootstrap-personal/assets/profile.png" alt="">
        </section>

        <section id="about">
            <h2>About</h2>
        </section>

    </main>


    <footer>
        

        <div>
            <small>copyright@</small>
        </div>
        <nav>
            <ul>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </footer>


</body>

</html>